* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.prozor {
  border: 1px solid white;
  width: 350px;
  height: 480px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px;
  position: relative;
  left: 500px;
  margin-bottom: 15px;
}
.sign {
  padding: 25px 0px 0px 25px;
}
.text {
  padding-left: 25px;
}
.inputi {
  width: 300px;
  height: 50px;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}
::placeholder {
  padding-left: 15px;
}
.linkjedan {
  text-decoration: none;
  padding-left: 25px;
  font-size: 20px;
}
.button1 {
  width: 300px;
  margin-left: 20px;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  background-color: rgb(23, 23, 116);
  margin-top: 20px;
  color: white;
}

.button2 {
  width: 300px;
  margin-left: 20px;
  height: 50px;
  border-radius: 20px;
  font-size: 15px;
  background-color: white;
  margin-top: 20px;
}
.linkdva {
  text-decoration: none;
  font-size: 20px;
}
.futer {
  text-decoration: none;
  padding-right: 20px;
}
footer {
  position: relative;
  left: 250px;
}
