.pulsslika {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.div_prvi,
.div_treci,
.div_peti {
  border-bottom: 1px solid lightgrey;
  position: relative;
  left: 280px;
  width: 700px;
  padding-bottom: 20px;
  padding: 30px;
}
.div_drugi,
.div_cetvrti,
.div_sesti {
  position: absolute;
  left: 150px;
  bottom: 35px;
}
a {
  text-decoration: none;
  color: lightblue;
}
button {
  margin-left: 650px;
  margin-top: 10px;
}
button {
  background-color: rgba(105, 105, 172, 0.568);
  padding: 7px;
}
