.slika {
  border: 1px solid black;
  width: 1100px;
  height: 600px;
  position: relative;
  background-color: cadetblue;
}
.left {
  position: absolute;
  left: 0;
  padding: 10px;
}
.right {
  position: absolute;
  right: 0;
  padding: 10px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
}
.bottoml {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}
.bottomr {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
